body {
    padding-top: 50px;
}
.content {
    padding: 40px 15px;
}
.center {
    text-align: center;
}

.mensagem-snipet ul {
    list-style: none;
    padding: 0;
}

.home-module-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 5px;
}

.dashboard-metanalise span.dashboard-label {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

.dashboard-metanalise div.progress {
    display: inline-block;
    width: 60%;
}

.table tr {
    text-align: left;
}

label:after {
    content: ":"
}

.form-group input.error {
    border-color: #b94a48;
}
